// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles
body {
  background-color: #fff;

  header {
    padding-block-end: 0 !important;
  }

  footer {
    margin-top: var(--gutters);
  }
}


// The style for the header site title
.header__site-name {
  font-family: OverpassHeavy, sans-serif;
  letter-spacing: 0.2em;
}

.header__site-name-light {
  font-family: OverpassBold, sans-serif;
  letter-spacing: 0.2em;
}

.header__site-name *, .header__site-link * {
  vertical-align: middle !important;
  text-decoration: none !important;
}

// The style for the search and language selector
.search-form {
  float: left;
}

.language-selector {
  @include padding(0.7 0);
  float: left;
}

// The style for the navigation menu
.main-menu {
  margin-top: 0;

  ul {
    border-top: 2px solid;
    //border-bottom: 2px solid;
  }

  li {
    @include margin-top(0.5);
    @include margin-bottom(0.5);
  }

  a {
    display: block;
    background-color: var(--color-brand-alt);
    color: var(--color-text-bg);
    padding: 2px 8px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--color-brand-dark);
    }

    &:active,
    &.active {
      background-color: var(--color-brand);
      text-decoration: none;
    }
  }
}

// The style for the home page content
.home-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    max-width: unset !important;
  }

  .name-wrap {
    display: inline-block;
    white-space: nowrap;
  }

  .home-links {
    display: inline-flex;
    flex-direction: column;

    .home-links-row {
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 600px;

      a {
        flex-grow: 1;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 1.5rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// The style for the contributions page
.contributions-content {
  ul {
    font-family: monospace;
    list-style-type: none !important;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none !important;
      margin: 0;
      padding: 0;
    }
  }
}

/*
.main-menu li a {
    text-decoration: none;
    background-color: #818181;
}

.main-menu li a.active {
    text-decoration: none;
    background-color: #333;
}

.main-menu li a:hover {
    text-decoration: none;
}
*/
