$overpass:        OverpassRegular, sans-serif;
$overpass-bold:   OverpassBold, sans-serif;
$overpass-heavy:  OverpassHeavy, sans-serif;
$overpass-mono:  OverpassMono, sans-serif;

$font-family: (
  body:       $overpass,
  headings:   $overpass-bold,
  alt:        $system-ui,
  monospace:  $overpass-mono,
);

$font-weight: (
  headings:   500,
  bolder:     700,
  bold:       500,
  medium:     400,
  normal:     300,
  light:      200,
  lighter:    100,
);